body {
	background-color: #292A2C;
	background-image: url('../images/background.jpg');
	font-family: Dosis;
	font-size: 14px;
	color: #ffffff;
}
h1 {
	font-size: 42px;
	text-shadow: 1px 1px 1px #A6A6A6;
}
#website-wrapper {
	max-width: 1200px;
	min-height: 600px;
	margin: 0 auto 0 auto;
	padding: 20px;
}
header {
	margin: 0 auto;
}
header h1 a {
	width: 306px;
	height: 76px;
	display: block;
	margin-bottom: 20px;
	background-image: url('../images/cohesiva_logo_top.png');
}
#carousel-wrapper {
	width: 95%;
	height: 450px;
	position: relative;
	padding: 20px;
	border: 5px solid #222222;
	background-color: #3d4244;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;	
}
#carousel-wrapper .carousel-control {
	margin-top: 30px;
}
#carousel {
	width: 100%;
	height: 100%;
	background-color: #ffffff;
	background-image: url('../images/grid_white_left.png'), url('../images/grid_white_right.png');
	background-position: left top, right top;
	background-repeat: repeat-y;
	color: #000000;
}
#carousel .item {
	width: 80%;
	height: 75%;
	padding: 10%;
	padding-top: 5%;
	padding-bottom: 5%;
}
#carousel .item p {
	padding-top: 10px;
	font-size: 25px;
	line-height: 35px;
	text-align: justify;
}
#carousel .item .span4 {
	padding-top: 30px;
}
#carousel .item .span4 img {
	width: 70%;
	height: 70%;
	margin-bottom: 5px;
}
.carousel {
	height: 80%;
}
.carousel-inner {
	width: 100%;
	height: 100%;
}
.indicators {
	margin: 10px 0 0 27px;
	position: relative;
	bottom: 0;
}
.carousel-indicators li {
	display: none;
}
.indicators .span1 {
	opacity: 0.3;
    -moz-opacity: 0.3;
    -webkit-opacity: 0.3;
}
.indicators .active {
	opacity: 1;
    -moz-opacity: 1;
    -webkit-opacity: 1;
}
.indicators img {
	width: 40px;
	height: 40px;
}
.coffeeMark {
	width: 120px;
	height: 100px;
	margin: 0 20px 20px 0;
	bottom: 0;
	right: 0;
	position: absolute;
	background: transparent url('../images/coffee_mark.png') no-repeat 0 0;
}
.new {
	position: absolute;
	bottom: 0;
	left: 0;
	margin: 5px;
	padding: 3px 6px;
	background-color: #B30000;
	cursor: pointer;
	opacity: 0.5;
    -moz-opacity: 0.5;
    -webkit-opacity: 0.5;
}
.new:hover {
	opacity: 1;
    -moz-opacity: 1;
    -webkit-opacity: 1;
}
.new-right {
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 5px;
	padding: 3px 6px;
	background-color: #6377B3;
	cursor: pointer;
	opacity: 0.5;
    -moz-opacity: 0.5;
    -webkit-opacity: 0.5;
}
.new-right:hover {
	opacity: 1;
    -moz-opacity: 1;
    -webkit-opacity: 1;
}
.modal {
	color: #000000;
}

@media screen and (min-width: 1300px){
    #website-wrapper {
		width: 1200px;
		position: fixed;
		top: 50%;
		left: 50%;
		margin: -350px  0 0 -600px;
		padding: 20px;
	}
}