<!DOCTYPE html>

<html ng-app>
    <head>
    	<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap/css/bootstrap.css")">
    </head>
    <body>
    	<h1>Hello, KUDOS users!</h1>
		
		<br/><br/>
		
		<p class="muted">Fusce dapibus, tellus ac cursus commodo, tortor mauris nibh.</p>
    	<p class="text-warning">Etiam porta sem malesuada magna mollis euismod.</p>
    	<p class="text-error">Donec ullamcorper nulla non metus auctor fringilla.</p>
    	<p class="text-info">Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis.</p>
    	<p class="text-success">Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>
		
		<br/><br/>
		<div ng-controller="KudosListCtrl">
			<h1>Our KUDOSes :)</h1>
			<ul>
          <li ng-repeat="kudos in kudoses">
			<div>id:{{kudos.id}} </div>
			<div> name:{{kudos.name}}</div>
			<div> targetId:{{kudos.targetId}}<div>
			<div><img src={{kudos.photoUrl}}></div>
          </li>
        </ul>
		</div>
		<script src="@routes.Assets.at("javascripts/angular/controllers.js")"></script>
		<script src="http://code.jquery.com/jquery.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
    </body>
</html>
