<!DOCTYPE html>
<html ng-app="kudos">
  <head>
	<meta charset="utf-8">
    <title>Cohesiva Kudos App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
	<link href=@routes.Assets.at("stylesheets/bootstrap/css/bootstrap.css") rel="stylesheet" media="screen">
	<link href=@routes.Assets.at("stylesheets/custom.css") rel="stylesheet" media="screen">
	<link rel='stylesheet' id='fonts-css'  href='http://fonts.googleapis.com/css?family=Dosis%3A400%2C600&#038;subset=latin%2Clatin-ext&#038;ver=3.5.1' type='text/css' media='all' />
  </head>
  <body>
  	<div ng-controller="ModalDemoCtrl">
		<div id="kudosModal" class="modal hide fade" modal="shouldBeOpen" close="close()" options="opts">
		  <form class="form-horizontal" action="@routes.KudosController.submit" method="post">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3>New kudos</h3>
			</div>
			<div class="modal-body">
				<div class="control-group">
					<label class="control-label" for="forWhat">For what</label>
					<div class="controls">
						<input type="text" id="forWhat" name="forWhat" placeholder="For what">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="forWhom">For whom</label>
					<div class="controls">
						<select ng-controller="PeopleCtrl" id="forWhom" name="targetId" class="ng-scope" placeholder="For whom">
							<option ng-repeat="person in people" value="{{person.id}}" class="ng-scope ng-binding">{{person.name}}</option>
						</select>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="description">Details</label>
					<div class="controls">
						<textarea id="description" name="description" placeholder="Details"></textarea>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="submit" class="btn btn-primary">kudos it!</button>
			</div>
	      </form>
		</div>
		<div class="new img-circle">
			<em class="icon-fire" ng-click="open()" data-toggle="modal" data-target="#kudosModal"></em>
		</div>
	</div>
    <div id="website-wrapper">
		<header>
			<h1><a href="http://cohesiva.com" title="Cohesiva"></a></h1>
		</header>
		<div id="carousel-wrapper" class="carousel slide" ng-controller="KudosListCtrl">
			<div id="carousel" class="carousel-inner">
				<carousel interval="myInterval">
	    			<slide ng-repeat="kudos in kudoses" active="kudos.active" class="item">
						<div class="row-fluid">
							<div class="span8">
								<h1>{{kudos.name}}</h1>
								<p>{{kudos.text}}</p>
							</div>
							<div class="span4 text-center">
								<img ng-src="{{kudos.target.photoUrl}}" alt="" class="img-circle">
								<div>{{kudos.target.name}}</div>
							</div>
						</div>
					</slide>
	  			</carousel>
	  			<div class="row-fluid carousel-indicators">
					<div class="span1" ng-repeat="kudos in kudoses" ng-click="kudos.active = true" ng-class="{'active': kudos.active,'inactive':!kudos.active}">
		          		<img ng-src="{{kudos.target.photoUrl}}" alt="" class="img-circle" />
		        	</div>
				</div>
  			</div>
			<div class="coffeeMark"></div>
		<div>
	</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular-resource.min.js"></script>

	<script src=@routes.Assets.at("javascripts/ui-bootstrap-custom-0.4.0.min.js")></script>
	<script src=@routes.Assets.at("javascripts/ui-bootstrap-custom-tpls-0.4.0.min.js")></script>

	<script src=@routes.Assets.at("javascripts/angular/controllers.js")></script>

  </body>
</html>

